<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myPortfolio | @ViewData["Title"]</title>
    @RenderSection("SEO", required: true)
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <div id="wrapper">

        <partial name="_Header" />

        @*Menu*@
        <partial name="_Menu" />

        @RenderSection("Banner", required: true)
        <div id="main">
            @RenderBody()
        </div>

        @*Contact*@
        <partial name="_ContactForm" />

        @*Footer*@
        <partial name="_Footer" />
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    @*     <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    @RenderSection("Scripts", required: false)
</body>
</html>
